:root {
  --background-dark-grayish-purple: #302C40;
  --text-neutral-light-gray: #EDEDED;
  --hover-vibrant-purple: #705ABF;
}
.scrollBarNone {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollBarNone::-webkit-scrollbar {
  display: none; 
}

.blackGrad{
  background: rgb(0,10,3);
  background: linear-gradient(180deg, rgba(0,10,3,1) 1%, rgba(15,25,62,1) 42%, rgba(14,20,58,1) 75%, rgba(11,18,116,1) 97%);
}


.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  /* width: 362px; */
  /* height: 272px; */
  /* margin: 0 auto; */
}

.slide {
  /* width: 362px; */
  /* height: 272px; */
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 20px;
  border-radius: 12px;
}

.bx-shadow-1{
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

